// Variables
@import 'variables';

// Materialize
@import '~materialize-css/dist/css/materialize.min.css';

@import '~dropify/dist/css/dropify.min.css';

@import '~summernote/dist/summernote-lite.min.css';

@import 'typography';

.admin_logo {
    font-size: 2.1rem;
    line-height: 64px !important;
    height: 64px;
    text-align: center;
}


